#  ____                           __  ____   __  __  __ ___ _   _ ___ 
# |  _ \ _ __ ___   ___  ___  __ _\ \/ /\ \ / / |  \/  |_ _| \ | |_ _|
# | |_) | '__/ _ \ / _ \/ __|/ _` |\  /  \ V /  | |\/| || ||  \| || | 
# |  __/| | | (_) | (_) \__ \ (_| |/  \   | |   | |  | || || |\  || | 
# |_|   |_|  \___/ \___/|___/\__,_/_/\_\  |_|   |_|  |_|___|_| \_|___|

# This config is intended to be used with Prusa buddy board and BTT EBB42, if you want to
# use different MCU you need to check the pins

# This config is intended to be paired with tradrack config to have working filament sensor
# If you want standard IR filament sensor just plug the IR sensor on buddy board and uncoment
# the filament section of this config.

# Do not use adaptive mesh or KAMP plugins. The standard 3x3 bed mesh is fast enough and avoid
# the magnet field of the underbed magnets, leave the bed_mesh section unchanged if you don't
# know what are you doing

# This config uses TR8X8 leadscrew motors for Z, because for me it's cheaper than buy other
# TR8x4, I have a bunch of old MK3s Z motors.

# This config uses OMC HE19 2A steppers to max out the printer capabilities, it's a cheap upgrade
# 20€/25$ for a pair of good steppers or less.

#                  __ _ _       _     _          _               _    
#  _ __  _ __ ___ / _| (_) __ _| |__ | |_    ___| |__   ___  ___| | __
# | '_ \| '__/ _ \ |_| | |/ _` | '_ \| __|  / __| '_ \ / _ \/ __| |/ /
# | |_) | | |  __/  _| | | (_| | | | | |_  | (__| | | |  __/ (__|   < 
# | .__/|_|  \___|_| |_|_|\__, |_| |_|\__|  \___|_| |_|\___|\___|_|\_\
# |_|                     |___/                                       

# Replace the IDs of the MCU's with yours on MCU section

# 1- This config comes with input shaper activated, with the values of standard proosaXY, works
# 2- with ProosaXY mini well but need to be tuned with real values.
# 3- Ensure the buddy fan is working to avoid overheating, it's critical, low temps when on,
# high temps if not.
# 4- If you are using TR8x4 leadscrew change this on Stepper section put rotation_distance: 4
# 5- If you are using OEM 1A high inductance steppers change this on Stepper section
# 5- Redo the PID for the extruder heater.
# 6- Do not forget to put your print_start/print_end macro ;)

[include mainsail.cfg]
[pause_resume]
[exclude_object]

[idle_timeout]
timeout: 1200
    
#[include config/plugins/tradrack/*.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes

#  __  __  ____ _   _ 
# |  \/  |/ ___| | | |
# | |\/| | |   | | | |
# | |  | | |___| |_| |
# |_|  |_|\____|\___/ 

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_56003A001150315239353820-if00

[mcu ebb]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_410012000250505539323520-if00

[display]
lcd_type: st7789v
spi_bus: spi2a
rst_pin: PC8
cs_pin: PC9
rs_pin: PD11
encoder_pins: ^PE13, ^PE15
click_pin: ^!PE12
display_group: _default_20x4

[temperature_sensor buddy_board]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 10
max_temp: 100

[temperature_sensor ebb]
sensor_type: temperature_mcu
sensor_mcu: ebb
min_temp: 10
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#  ____       _       _            
# |  _ \ _ __(_)_ __ | |_ ___ _ __ 
# | |_) | '__| | '_ \| __/ _ \ '__|
# |  __/| |  | | | | | ||  __/ |   
# |_|   |_|  |_|_| |_|\__\___|_|   

# Standard ProosaXY IS
[input_shaper]
shaper_freq_x: 58.2
shaper_type_x: mzv
shaper_freq_y: 42.8
shaper_type_y: mzv

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
#max_accel_to_decel: 15000
max_z_velocity: 25
max_z_accel: 1000
square_corner_velocity: 25

#  ____  _                             
# / ___|| |_ ___ _ __  _ __   ___ _ __ 
# \___ \| __/ _ \ '_ \| '_ \ / _ \ '__|
#  ___) | ||  __/ |_) | |_) |  __/ |   
# |____/ \__\___| .__/| .__/ \___|_|   
#               |_|   |_|              

[stepper_x]
step_pin: PD1
dir_pin: PD0
enable_pin: !PD3
microsteps: 32 # Better quality, less noise
# microsteps: 16 # You may need if want to use OEM high inductance stepperrs
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -2
position_max: 193.5
position_min : -3
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PD5
uart_address: 1
run_current: 1.000 # OMC HE19 2A Stepper
# run_current: 0.600 # OEM high inductance steppers
sense_resistor: 0.22
interpolate: false
stealthchop_threshold: 0
diag_pin: ^PE2
driver_SGTHRS: 100

[stepper_y]
step_pin: PD13
dir_pin: PD12
enable_pin: !PD14
microsteps: 32 # Better quality, less noise
# microsteps: 16 # You may need if want to use OEM high inductance stepperrs
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -5
position_max: 190
position_min : -5
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PD5
uart_address: 3
run_current: 1.000 # OMC HE19 2A Stepper
# run_current: 0.600 # OEM high inductance steppers
sense_resistor: 0.22
interpolate: false
stealthchop_threshold: 0
diag_pin: ^PE1
driver_SGTHRS: 100

[stepper_z]
step_pin: PD4
dir_pin: !PD15
enable_pin: !PD2
microsteps: 32
rotation_distance: 8 # TR8x8 leadscrew
#rotation_distance: 4 # TR8x4 leadscrew
full_steps_per_rotation:200 
position_max: 210
position_min : -5
homing_speed: 10
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z]
uart_pin: PD5
uart_address: 0
run_current: 0.35
sense_resistor: 0.22
interpolate: false
stealthchop_threshold: 99999

[stepper_z1]
step_pin: PD9
dir_pin: !PD8
enable_pin: !PD10
microsteps: 32
rotation_distance: 8 # TR8x8 leadscrew
#rotation_distance: 4 # TR8x4 leadscrew
full_steps_per_rotation:200

[tmc2209 stepper_z1]
uart_pin: PD5
uart_address: 2
run_current: 0.35
sense_resistor: 0.22
interpolate: false
stealthchop_threshold: 99999

#  _____      _                  _           
# | ____|_  _| |_ _ __ _   _  __| | ___ _ __ 
# |  _| \ \/ / __| '__| | | |/ _` |/ _ \ '__|
# | |___ >  <| |_| |  | |_| | (_| |  __/ |   
# |_____/_/\_\\__|_|   \__,_|\__,_|\___|_|   
#  ( _ )   | |__   ___  __| |                
#  / _ \/\ | '_ \ / _ \/ _` |                
# | (_>  < | |_) |  __/ (_| |                
#  \___/\/ |_.__/ \___|\__,_|    

[extruder]
step_pin: ebb:PD0
dir_pin: !ebb:PD1
enable_pin: !ebb:PD2
# Sherpa mini
rotation_distance: 22.67895
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 250
max_extrude_cross_section: 50
min_temp: -10
max_temp: 310
max_power: 1.0
min_extrude_temp: 150
#smooth_time: 2.0
heater_pin: PB1
sensor_pin:  ebb:PA3
sensor_type: ATC Semitec 104GT-2
#control: pid
#pid_Kp: 33.265
#pid_Ki: 14.784
#pid_Kd: 18.711

[tmc2209 extruder]
uart_pin: ebb:PA15
run_current: 0.750
hold_current: 0.150
sense_resistor: 0.110
interpolate: false
stealthchop_threshold: 0

[heater_bed]
heater_pin: PB0 # bed
sensor_pin: PA4 # TB
sensor_type: Generic 3950
control: pid
pid_Kp: 120
pid_Ki: 1.5
pid_Kd: 600
min_temp: 10
max_temp: 110

#  _                   _ _             
# | |    _____   _____| (_)_ __   __ _ 
# | |   / _ \ \ / / _ \ | | '_ \ / _` |
# | |__|  __/\ V /  __/ | | | | | (_| |
# |_____\___| \_/ \___|_|_|_| |_|\__, |
#                                |___/ 

[probe]
pin: PA8
x_offset: 28.5
y_offset: -4
#z_offset: 0.0
speed: 10 #7.5
samples: 2
sample_retract_dist: 0.5
samples_result: median
samples_tolerance: 0.050
samples_tolerance_retries: 2
#activate_gcode:
#deactivate_gcode:

[safe_z_home]
home_xy_position: 90,90
z_hop: 6

[z_tilt]
# the point of the motor (or leadscrew)
z_positions:
	220, 90
	-25, 90
points:
    140, 90
	1.5, 90
speed: 100
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.015

[bed_mesh]
algorithm: bicubic
fade_end: 10
horizontal_move_z: 2
mesh_max: 160,150
mesh_min: 30, 30
#mesh_pps: 3
probe_count: 3,3
speed: 400
adaptive_margin: 5

#  _____               
# |  ___|_ _ _ __  ___ 
# | |_ / _` | '_ \/ __|
# |  _| (_| | | | \__ \
# |_|  \__,_|_| |_|___/

#	Hotend Fan
[heater_fan hotend_fan]
pin: PE9
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
shutdown_speed: 1
tachometer_pin: PE14

# Print fan
[fan]
pin: ebb:PA0
kick_start_time: 0.5
off_below: 0.05

# Buddy board fan
[controller_fan controller_fan]
pin: PE11
kick_start_time: 0.5
heater: extruder
max_power: 1


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.054375, 0.041250, 0.083125
#*# 	0.003125, 0.031250, 0.035000
#*# 	0.068125, 0.038125, 0.055625
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 160.0
#*# min_y = 30.0
#*# max_y = 150.0
#*#
#*# [probe]
#*# z_offset = 0.975
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 41.551
#*# pid_ki = 21.307
#*# pid_kd = 20.257
