# Proosa Mini purge line
[gcode_macro PURGE_LINE]
gcode:
  G0 X0 Y-3 F10000                           # Go to starting point
  G0 Z0.4                                               # Raise Z to 0.4
  G91                                                   # Incremental positioning 
  G1 X100 E60  F900
  G1 X80 E40 F900                                     # Primeline
  G90                                                   # Absolute position