# This is an alternative homming if you have rough homming

[force_move]
enable_force_move: True
 
[homing_override]
gcode:
   G28 X
   G90
   G0 X90
   G4 P3000
   G28 Y
   G0 Y90
   SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
   SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
   M204 S1000
   SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
   SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
   SET_KINEMATIC_POSITION X=90 Y=90
 
   G28 Z
   G90
   G0 Z25
axes: xy